<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>JpaBBS</display-name>
    <description>Lilo(Soeun) Jpa Practice</description>

    <!-- ============================================================= -->
    <!-- root application context -->
    <!-- ============================================================= -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- ============================================================= -->
    <!-- spring dispatcher servlet -->
    <!-- ============================================================= -->

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>io.lilo.config.AppConfig</param-value>
    </context-param>

    <servlet>
        <servlet-name>lilo</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>


        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>io.lilo.config.WebConfig</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <filter>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>lilo</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- ============================================================= -->
    <!-- welcome file list -->
    <!-- ============================================================= -->
    <welcome-file-list>
        <welcome-file>lilo</welcome-file>
    </welcome-file-list>

</web-app>